.ButtonList {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5rem;
    padding-left: 5rem;
    
}

.ButtonAdd {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.functionButton {
    height: 40px;
}

.contador {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.titleProduct {
    margin-bottom: 10px;
}

.imageCard {
    padding: 2px;
}

.cardContainer {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-top:-50px;
    justify-content: center;
    align-items: center;
}

.innerCardContainer {
    margin-left: 20px;
    margin-right: 20px;
  background-color: #EEEEEE;
  margin-top: 50px;
}

.descriptionCard {
    margin-top: 20px;
}